# PATH
TRAIN_PATH: "/opt/ml/dataset/train/train.csv"
DEV_PATH: "/opt/ml/dataset/train/train.csv"
SPLIT_TRAIN_PATH: "/opt/ml/dataset/save_split_dataset/train.csv"
SPLIT_DEV_PATH: "/opt/ml/dataset/save_split_dataset/dev.csv"

OUTPUT_DIR: "./results"
LOGGING_DIR: "./logs"
MODEL_SAVE_DIR: "./best_model"

# MODEL (확인 필수)
MODEL_NAME: "klue/roberta-large"
TOTAL_SAVE_MODEL: 5

# HYPER PARAMETER (확인 필수)
MAX_EPOCH: 3
LR: 5.0e-5 # Example Format : 5.0e-5 / 5.e-5 / 5.E-5
BATCH_SIZE: 32
WARMUP_STEP: 500
RATIO: 0.15 # Train Validation Split ratio
WEIGHT_DECAY: 0.1

# LOG
SAVING_STEP: 500
LOGGING_STEP: 500
EVAL_STEP: 500

# WANDB (확인 필수)
WANDB_PROJECT: "new_klue_roberta-large"
WANDB_NAME: "batch=32_lr=5e-5_epoch=3_new_entity_punct_4_voting_dev=0.15_decay=0.1_seed=14"

# WANDB SWEEP (확인 필수 및 양식 확인(들여쓰기))
SWEEP_AVAILABLE: 0 # SWEEP을 사용할 것인지 (1 : 사용, 0 : 미사용)
SWEEP_COUNT: 8 # SWEEP 실행 횟수
SWEEP_CONFIGURATION: # SWEEP 세부 내용 설정
  method: 'grid'
  name: 'epoch and lr tuning'
  metric:
    goal: 'maximize'
    name: 'eval/micro f1 score'
  parameters:
    batch_size:
      values:
      - 32
    epochs:
      values:
      - 3
      - 4
      - 6
      - 8
    warmup_steps:
      values:
      - 500
      - 1000
    lr:
      values:
      - 5.0e-5

# Custom Model (확인 필수)
MODEL_TYPE: 'new_entity_punct' # 'base', 'entity_special', 'entity_punct', 'new_entity_punct'
DISCRIP: 0