# PATH
TRAIN_PATH: "/opt/ml/dataset/train/augment_residence.csv"
DEV_PATH: "/opt/ml/dataset/train/augment_residence.csv"
SPLIT_TRAIN_PATH: "/opt/ml/dataset/save_split_dataset/train.csv"
SPLIT_DEV_PATH: "/opt/ml/dataset/save_split_dataset/dev.csv"
TEST_PATH: "/opt/ml/dataset/test/test_data.csv"
FOLD_TRAIN_PATH: "/opt/ml/dataset/fold_dataset/fold_train.csv"
FOLD_DEV_PATH: "/opt/ml/dataset/fold_dataset/fold_dev.csv"
SEED_TRAIN_PATH: "/opt/ml/dataset/seed_dataset/seed_train.csv"
SEED_DEV_PATH: "/opt/ml/dataset/seed_dataset/seed_dev.csv"
SEED_FOLD_TRAIN_PATH: "/opt/ml/dataset/seed_fold_dataset/seed_fold_train.csv"
SEED_FOLD_DEV_PATH: "/opt/ml/dataset/seed_fold_dataset/seed_fold_dev.csv"

OUTPUT_DIR: "./results"
LOGGING_DIR: "./logs"
MODEL_SAVE_DIR: "/opt/ml/best_model"

# MODEL (확인 필수)
MODEL_NAME: "klue/roberta-large"
MODEL_PATH: "/opt/ml/best_model/pretrain"
TOTAL_SAVE_MODEL: 5

# LOSS (확인 필수)
LOSS_FN: 'penalty_loss' # 'base', 'focal', 'label_smoothing', 'penalty_loss'

# HYPER PARAMETER (확인 필수)
MAX_EPOCH: 3
LR: 2.0e-5 # Example Format : 5.0e-5 / 5.e-5 / 5.E-5
BATCH_SIZE: 32
WARMUP_STEP: 400
RATIO: 0.15 # Train Validation Split ratio
WEIGHT_DECAY: 0.1

# LOG
SAVING_STEP: 400
LOGGING_STEP: 400
EVAL_STEP: 400
STRATEGY: "steps" ### 추가부분

# WANDB (확인 필수)
WANDB_PROJECT: "new_klue-roberta-large"
WANDB_NAME: "roberta-large_epoch3_batch32_lr=5e-5_warmup=500_entity_punct_discrip_decay=0.1_seed=14"

# WANDB SWEEP (확인 필수 및 양식 확인(들여쓰기))
SWEEP_AVAILABLE: 0 # SWEEP을 사용할 것인지 (1 : 사용, 0 : 미사용)
SWEEP_COUNT: 8 # SWEEP 실행 횟수
SWEEP_CONFIGURATION: # SWEEP 세부 내용 설정
  method: 'grid'
  name: 'epoch and lr tuning'
  metric:
    goal: 'maximize'
    name: 'eval/micro f1 score'
  parameters:
    batch_size:
      values:
      - 32
    epochs:
      values:
      - 3
      - 4
      - 6
      - 8
    warmup_steps:
      values: [300, 400, 500, 600]
    lr:
      values:
      - 5.0e-5

#Ensemble
FOLD: 0 # [0, 1]
FOLD_N: 5 #integer : 몇개 폴드할건지

SEED: 0 # [0, 1] seed ensemble 할건지 말건지. 위 FOLD와 다른 값을 가져야함
SEED_N: 1 #integer : 몇개 시드 사용할건지

SEED_FOLD: 1 # [0, 1] FOLD,SEED와 다른 값 가져야함

# Custom Model (확인 필수)
MODEL_TYPE: 'entity_punct' # 'base', 'entity_special', 'entity_punct', 'cls_entity_special', 'sangmin_entity_special'
DO_SEQUENTIALBERTMODEL: 0 # SequentialBertModel 사용 여부 (0 : 미사용, 1 : 사용)
DISCRIP: 1
PRE_TRAIN : 'None' # None, MLM, NER, MLM_NER
